/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bggreen {
background-color: greenyellow;
}
.bgyellow {
    background-color: yellow;
 }
 .bgred{
    background-color: red;
 }
.horiline{
    color: #000;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
  }
main{
    font-size: 30px;
}
.tb1{
    font-size: 30px;
    text-align: center;
}
input{
    width: 40px;
}
.yellow{
    color: yellow;
}

.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}